{% extends "base.html" %}

{% block content %}
<div class="app">

    <!-- LEFT SIDEBAR -->
    <div class="sidebar">
        <div class="logo">📄</div>

        <ul>
            <li class="active"><i class="fa-regular fa-file"></i> Të gjitha</li>
            <li><i class="fa-solid fa-user"></i> Personale</li>
            <li><i class="fa-solid fa-briefcase"></i> Punë</li>
            <li><i class="fa-regular fa-lightbulb"></i> Ide</li>
        </ul>

        <div class="notes-count">{{ notes|length }} SHËNIME</div>
        <hr>
    </div>

    <!-- NOTES LIST -->
    <div class="notes-list">

        <div class="notes-header">
            <h1>Shënimet</h1>
            <div class="actions">
                <span>＋</span>
            </div>
        </div>

        <input type="text" placeholder="Kërko" class="search">

        {% for note in notes %}
        <a href="{{ url_for('notes.get_note', id=note.id) }}">
            <div class="note-item  {% if selected_note and note.id == selected_note.id %}active{% endif %}">
                <h3>{{ note.title[:15] }}</h3>

                <span class="time">
                    {{ note.created_at.strftime('%H:%M') }}
                </span>

                <p>
                    {{ note.content[:72] }}
                </p>
            </div>
        </a>
        {% endfor %}
    </div>

    <!-- NOTE CONTENT -->
    <div class="note-view">

        <form class="note-form" method="POST" action="{{ url_for('notes.index')}}">
            <textarea name="title" class="title-editor" placeholder="Titulli..">{{ selected_note.title if selected_note else '' }}</textarea>

            <hr>

            <textarea name="content" class="note-editor" placeholder="Fillo të shkruash..">{{ selected_note.content if selected_note else '' }}</textarea>
            <button type="submit" class="save-btn">Save</button>
        </form>

    </div>

</div>
{% endblock %}